.app-search-field {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.app-search-field__input {
  width: 100%;
  background-color: #FFFFFF;
}

.app-search-field__button {
  height: 56px;
  width: 56px;
}