body {
  margin: 0;
  background-color: #F3F6F9;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}